myenv/
.env
venv/
**/__pycache__/*
Taskfile.yml
private_key.pem
public_key.pem
db.sqlite3
package-lock.json
package.json
__init__.py
node_modules/**
server.js
users/srcs/shared/
user_game_stats/srcs/shared/
livechat/srcs/shared/