.navbar {
	height: 100vh;
}

.register-icon {
	font-size: 12em;
}

.showPasswordBtn {
	color: white;
}

@media (min-width: 768px) {
	.modal-xl {
	  width: 90%;
	 max-width:1200px;
	}
}

/* .sidebar {
	position: sticky;
	top: 0;
	height: 100%;
	border-right: 10px solid blue;
} */
